<div class="formdiv">
<div class="container">
<div class="h1-title">
		<h1>New Movie</h1>
</div>
<hr class="form-title">

<%= render 'form', movie: @movie %>

<div class="col-md-12">
	<%= link_to 'Back', movies_path, class: "backlink" %>
</div>
</div>
</div>