<div class="formdiv">
<div class="container">
<div class="h1-title">

<h1>New Review</h1>

</div>

<hr class="form-title">

<%= render 'form', review: @review %>



<div class="col-md-12">

<%= link_to 'Back', movie_path(@movie), class: "backlink" %>

</div>

</div>
</div>

